<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        {# BOOTSTRAP CSS #}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        {# BOOTSTRAP JS #}
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </head>
    <body>
        {% block body %} {% endblock %}
<footer class="page-footer font-small bg-dark pt-4 fixed-bottom">

  {# FOOTER LINKS #}
  <div class="container text-center text-md-left">

    <div class="row">

      <div class="col-md-4 mx-auto">

        <!-- Content -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Lorem ipsum</h5>
        <p>Pellentesque massa lacus, placerat eget euismod vitae, commodo ac leo. Etiam at est vitae orci vehicula hendrerit sed volutpat tortor. Etiam quis tortor id purus vulputate vestibulum. Sed porta nisl in malesuada feugiat. Suspendisse iaculis sollicitudin purus ac dapibus. Ut scelerisque mi nec lorem ultricies molestie. Aliquam blandit blandit sapien ac efficitur. Nunc dictum faucibus sapien, ac varius velit sollicitudin non. Donec non massa justo.</p>

      </div>

      <hr class="clearfix w-100 d-md-none">

      <div class="col-md-2 mx-auto">

       {# INFO #}
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Lorem ipsum</h5>
        <p>Pellentesque massa lacus, placerat eget euismod vitae, commodo ac leo.</p>
      </div>
      

      <hr class="clearfix w-100 d-md-none">

      
      <div class="col-md-2 mx-auto">

        {# INFO #}
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Lorem ipsum</h5>
        <p>Pellentesque massa lacus, placerat eget euismod vitae, commodo ac leo.</p>
      </div>
    
      <hr class="clearfix w-100 d-md-none">

      <div class="col-md-2 mx-auto">

        {# INFO #}
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Lorem ipsum</h5>
        <p>Pellentesque massa lacus, placerat eget euismod vitae, commodo ac leo.</p>
      </div>
      
    </div>
  </div>
  <hr>
</footer>

{# {% endblock footer %} #}
        {% block javascripts %}{% endblock %}
    </body>

</html>
